<div>
  <div class="col-md-12 first-gap">
    <div class="profile-content-buzz">
      <div class="createPost">
        <form method="post" enctype="multipart/form-data">
          <div class="createPost-head">
            <span class="glyphicon glyphicon-pencil">&nbsp;</span>Create Buzz
          </div>
          <div class="createPost-body">
            <textarea value="{{buzz.content}}" placeholder="Share your thought...." class="form-control" rows="4" id="comment" data-ng-model="buzz.content"></textarea>
          </div>
          <div class="createPost-foot">
            <div class="createPost-foot-front">
              <div class="dropdown categ">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="cat"> Category{{' : '+cat}}</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="setCategory('BUZZ')">Buzz</a></li>
                  <li><a href="#" ng-click="setCategory('LAF')">Lost & Found</a></li>
                </ul>
              </div>
              <div class="uploadImg">
                <label for="upload">
                  <!--<a class="img" aria-hidden="true" href=""><img src="../../assets/images/img.png" ng-upload=""></a>-->
                  <span class="glyphicon glyphicon-picture" aria-hidden="true" id="imgUp"></span>
                  <input type="file" id="upload" style="display:none" file-model="buzz.file">
                </label>
              </div>
            </div>
            <div class="createPost-foot-rarer">
              <a ng-click="userBuzz()" href="" class="glyphicon glyphicon-ok"></a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
  </div>


  <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='.2'>

      <div ng-repeat="post in reddit.items | orderBy:'-dateCreated' " class="gap">
        <div class="col-md-12 post" ng-if="post.category == 'BUZZ' " >
          <div class="profile-content-post">
            <div class="showPost">
              <div class="showPost-head">
                <div class="imgUser">
                  <img ng-src="{{post.createdBy.uImgUrl}}" alt="">
                </div>
                <div class="textUser">
                  <span>{{post.createdBy.uName}}, posted a {{post.category}}</span><br>
                  <span am-time-ago="post.dateCreated"></span><br>
                </div>
              </div>
              <div class="showPost-body">
                <div class="showPost-body-text text-frame readML" hm-read-more
                     hm-text="{{post.content}}"
                     hm-limit="200"
                     hm-more-text="read more"
                     hm-less-text="read less"
                     hm-dots-class="dots"
                     hm-link-class="links">
                </div><br>
                <div class="showPost-body-image img-frame" ng-if="post.mUrl!='' ">
                  <img ng-src="{{post.mUrl}}" alt="">
                </div>
              </div>
              <div class="showPost-foot">
                <a href="" ng-click=""><img src="../../assets/images/like.png"></a>&nbsp;&nbsp;&nbsp;
                <a href="" ng-click=""><img src="../../assets/images/dislike.png"></a>&nbsp;&nbsp;&nbsp;
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 post" ng-if="post.category == 'LAF' " >
          <div class="profile-content-post-laf">
            <div class="showPost-laf">
              <div class="showPost-laf-head">
                <div class="imgUser">
                  <img ng-src="{{post.createdBy.uImgUrl}}" alt="">
                </div>
                <div class="textUser">
                  <span>{{post.createdBy.uName}}, posted a Lost & Found Buzz</span><br>
                  <span am-time-ago="post.dateCreated"></span><br>
                </div>
                <!--<img ng-src="{{post.createdBy.uImgUrl}}" alt=""> {{post.createdBy.uName}}, posted a Lost & Found Buzz, <span am-time-ago="post.dateCreated"></span>-->
              </div>
              <div class="showPost-laf-body">
                <div class="showPost-laf-body-text text-frame readML" hm-read-more
                     hm-text="{{post.content}}"
                     hm-limit="200"
                     hm-more-text="read more"
                     hm-less-text="read less"
                     hm-dots-class="dots"
                     hm-link-class="links">
                </div><br>
                <div class="showPost-laf-body-image img-frame" ng-if="post.mUrl!='' ">
                  <img src="{{post.mUrl}}">
                </div>
              </div>
              <!--<div class="showPost-laf-foot">-->
                <!--<a href="" ng-click=""><img src="../../assets/images/like.png"></a>&nbsp;&nbsp;&nbsp;-->
                <!--<a href="" ng-click=""><img src="../../assets/images/dislike.png"></a>&nbsp;&nbsp;&nbsp;-->
              <!--</div>      -->
            </div>
          </div>
        </div>
      </div>

    <div ng-show='reddit.busy'><img src="../../assets/images/loading.gif"></div>

  </div>


</div>
